.navbar {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: rgba(60, 60, 60, 1);
    text-align: left;
    letter-spacing: -1.5px;
    word-spacing: -1px;
}

.navbar > p {
    display: inline-block;
    line-height: 2vw;
    margin: 18px;
    color: rgba(190, 190, 190, 1);
    font-size: 3vw;
    cursor: pointer;

}

.navbar > p:hover{
    color: white;
}

.brand {
    font-size: 22px;
    color: whitesmoke;
    margin: 0 15px 0 10px;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .navbar > p {
        font-size: 6vw;
    }
    .brand {
        display: none;
    }
}