.App {
  text-align: center;
  padding: 80px 0 70px 0;

}

body {
  background-color: #f2f2f2;
  font-family: 'ABeeZee', sans-serif;
  font-size: calc(20px + 1vw);
  overflow-x: hidden;
}

.navLink {
  font-size: calc(12px + (10vh / 4));
  padding: 0 15px;
}

.page {
  width: 100%;
}

.hide {
  display: none;
}

.btn {
  background-color: #343a40;
  border: 1px solid #343a40;
  box-shadow: 0 0 5px #343a40;
  font-size: 3vh;
}

.btn:hover {
  background-color: #ffffff;
  color: #343a40;
  border: 1px solid #343a40;
  box-shadow: none;
}

#originalMineral,
#jHeader,
#blog {
  background-image: linear-gradient(60deg, #c5c5c5, #efefef, #c5c5c5);
}

.home-child,
.color-child {
  max-width: 1024px !important;
  margin: 0 auto;
}

#textLink,
#emailLink {
  display: inline-flex;
  width: auto;
  min-width: calc(140px + 2vw);
  height: auto;
  text-align: center;
  padding: 6.5px .6vw;
  background: rgba(245, 245, 245, 0);
  font-size: calc(24px + 1vw);
  color: #c4122f;    
  border: solid .8px #c4122f;
  margin: 1vh;
  cursor: pointer;
}

#textLink {
  display: none;
}

#footer:hover {
  text-decoration: none;
}


@media only screen and (max-width: 1024px) {
  .navbar {
    max-height: 7vh;
  }
  .navbar-brand {
    display: none;
  }
  
  .navLink {
    font-size: 4.5vw;
    margin-right: 12px;
  }
  .myth{
    font-size: 5vw !important;
  }

  #textLink {
    display: inline-block !important;
  }

}

@media only screen and (max-width: 768px) {
  
  .service {
    font-size: 7vw;
    margin: 10vh 15vw;
  }

}