.App {
  text-align: center;
  overflow-x: hidden;
}

body {
  background-color: lightgray;
  background-image: url("./photos/broken-noise.png");
  background-repeat: repeat;
  font-family: 'ABeeZee', sans-serif;
  min-height: 100vh;
}

.page {
  width: 100%;
  padding: 12vh 10vw;
}

.hide {
  display: none;
}

.pageHeader {
  font-size: 4vh;
  color: #ffffff;
}
.btn {
  background-color: #343a40;
  border: 1px solid #343a40;
  box-shadow: 0 0 5px #343a40;
}

.btn:hover {
  background-color: #ffffff;
  color: #343a40;
  border: 1px solid #343a40;
  box-shadow: none;
}
hr { 
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
#footer:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .page {
    padding: 12vh 2vw 17vh;
  }
  .navbar-brand {
    display: none;
  }
  .myth{
    font-size: 5vw !important;
  }

  #textLink,
  #emailLink {
    transform: none;
    position: fixed;
    display: block !important;
    top: 85vh !important;
    width: 18vw !important;
  }
  #textLink {
    left: 2vw !important;
  }

  #emailLink {
    left: 80vw !important;
  }

}

@media only screen and (max-width: 768px) {
  #emailLink,
  #textLink {
    width: 45vw !important;
  }

  #emailLink {
    left: 50vw !important;
  }
  
  .service {
    font-size: 7vw;
    width: 70vw;
    margin: 10vh 15vw;
  }

}