.App {
  text-align: center;
  background-color: lightgray;
}

.page {
  padding: 1vh 10vw 12vh 10vw;
}

.appointmentWrapper{
  text-align: center;
}
.appointmentPanel {
  font-size: 7vw;
  margin: 2vh 0;
  width: 100%;
  position: inherit;
  display: inline-block;
  z-index: 1000 !important;
}

#textLink,
#emailLink {
  font-size: 6vw;
  line-height: 9vh;
  margin: 2vh 0;
  width: 100%;
  height: auto;
  position: inherit;
  display: inline-block;
  z-index: 1000 !important;
}
