#buttonDiv {
  margin-top: 10vh;
  margin-bottom: 10vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.buttons {
  margin: 0 4vw;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: #343a40;
  border: 1px solid #343a40;
  border-radius: 8px;
  box-shadow: 0 5 10px #343a40;
  font-size: 36px;
}

.buttons:hover {
  background-color: #f2f2f2;
  color: #343a40;
  text-decoration: none;
  border: 1px solid #343a40;
}


