.buttons-wrapper {
  max-width:  900px;
  margin: 0 auto;
}  

.serviceBtn {
    float: left;
    position: relative;
    margin: 15% 6% 0;
    /* height: 20%; */
    width: 20%;
    /* padding-top: 20%; */
}
 
.button-container {
  position: relative;
  text-align: center;
  padding: 0;
  border-radius:50%; 
  overflow:hidden; 
  cursor: pointer;
  height:  100%;
  width:  100%;
  margin-bottom: 12vh;
}  
  
.button-container p {
    transition: all 1s ease-out;
    background: rgba(88, 88, 88, 0.7);
    border-radius:50%; 
    color: #FFFFFF;
    position:absolute;
    font-size: calc(8px + 1vw); 
    font-weight: 700; 
    top: 0;
    left:0;
    right:0;
    bottom:0;
    padding-top: 40%;
    width: 100%;
    height:  100%;
    display:inline-block;
    text-decoration: none;
    text-transform:uppercase;
}
  
.button-container p:hover {
    background: none;
    border: none; 
    opacity:0;
}
.button-container img{
  width: 100%; 
  height: 100%; 
}
  
.last {
  margin-right: 0 !important;
  clear: right;
}
  
.clearboth {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}
  
@media only screen and (max-width: 600px) {
  .buttons-wrapper {
    margin: 10vh auto;
  }    

  .serviceBtn{
    height: 33%;
    padding: 0;
    margin: 0;
  }

  #cuttingBtn {
    float: none;
    margin: 5vh calc(25% - 10vh + 1vw) 1vh; 
  }   
  #coloringBtn {
    float: none;
    margin: 1vh calc(50% - 10vh + 1vw); /* centered, given btn width (20vh) and page padding*/
  }    
  #smoothingBtn {
    float: none;
    margin: 1vh calc(75% - 10vh + 1vw) 1vh;
  } 
}